<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.com.dao.RuleMapper">
  <resultMap id="BaseResultMap" type="ssm.com.domain.Rule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="webId" jdbcType="INTEGER" property="webid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, webId, name, rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ssm.com.domain.Rule">
    insert into s_rule (id, webId, name, 
      rule)
    values (#{id,jdbcType=INTEGER}, #{webid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{rule,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ssm.com.domain.Rule">
    insert into s_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="webid != null">
        webId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="rule != null">
        rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="webid != null">
        #{webid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.com.domain.Rule">
    update s_rule
    <set>
      <if test="webid != null">
        webId = #{webid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        rule = #{rule,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.com.domain.Rule">
    update s_rule
    set webId = #{webid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      rule = #{rule,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>