html,body{
	background: url("../../images/bg-login.jpg") no-repeat;
	width: 100%;
	height: 100%;
	color: #fff;
}

.hide{
	display: none;
}

.show{
	display: inline;
}

.main{
	height: 100%;
    width: 600px;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
}

.block{
	height: 302px;
	width: 600px;
	margin: 20% auto;
	display: inline-block;
	padding: 20px 10px;
	color: #fff;
}

.tabs{
	background-color: rgba(255,255,255,0.5);
	display: block;
	float: left;
	height: 100%;
	width: 100px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.tabs p{
	display: block;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	
}
.tabs p:last-child{
	border-bottom: none;
}

.tabs p.active{
	background: rgba(255,255,255,0.2);
}

.forms{
	background-color: rgba(255,255,255,0.2);
    display: block;
    float: left;
    height: 100%;
    width: 400px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

.form-content, .form-register, .form-password{
	padding: 10px;
	position: absolute;
	top: 20%;
}

.form-register, .form-password{
	top: 8%
}

.form-content input, .form-register input, .form-password input{
	width: 200px;
}

.form-password .input-code{
	width: 98px;
	display: inline-block;
}

.form-password .btn-code{
	width: 100px;
}

.layui-btn{
	width: 200px;
}

.form-tips{
	width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: orange;
    font-size: 14px;
    background: #555;
    line-height: 30px;
}

.form-tips span{
	position: absolute;
    right: 0;
    bottom: 0px;
    color: #fff;
    display: block;
    width: 20px;
    cursor: pointer;
}