@charset "utf-8";
@import "../base/_mixin.scss";
@import "../base/_global.scss";
.red{
	color: red!important;
}
.right{
	min-height: 780px;
	.base-info{
		width: 100%;
		padding: 0 20px;
		line-height: 50px;
		p{
			border: 1px solid $border-color;
			padding: 0 20px;
			white-space: nowrap;
		}
		ul{
			line-height: 30px;
			border: 1px solid $border-color;
			white-space: nowrap;
			li{
				padding: 5px 20px;
				span{
					display: inline-block;
					width: 25%;
					color: #000;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
		.title{
			background-color: #F8F8F8;
			font-weight: bold;
			font-size: 18px;
			border-bottom: 0px;
			border-top: 2px solid $border-color;
		}
	}

	#charts{
		width: 100%;
		height: 300px;
		background-color: $color-info;
		padding: 20px;
	}

	.ui-table-data{
		border: 1px solid #D9D8D8;
		td{
			border-bottom: 1px solid #D9D8D8;
			a{
				cursor: pointer;
			}
		}
	}

	.table-info{
		padding: 20px;
		p{
			height: 40px;
			line-height: 40px;
			margin: 10px;
			.btn{
				width: 80px;
			}
		}
		td{
			font-size: 12px;
		}
	}

	.form-info{
		border-top: 2px solid $border-color;
		padding: 20px;
		.form-control{
			display: inline;
		}
		.ui-w98{
			width: 98px;
		}
		.ui-w149{
			width: 149px;
		}
		.form-group{
			.driver-mile{
				position: relative;
				span{
					position: absolute;
					bottom: 3px;
					right: 30px;
				}
			}
			.col-assess{
				position: relative;
				left: 15px;
				bottom: 15px;
				span{
					font-size: 30px;
				    font-weight: bold;
				    color: #000;
				    position: absolute;
				    i{
				    	color:#000;
				    }
				}
			}
		}

	}

}
