@charset "utf-8";
@import "../base/_mixin.scss";
@import "../base/_global.scss";

html,body{
    height:100%;
}
.left{
    min-width: 250px;
    width: 250px;
    border: 2px solid $border-color;
    background-color: #fff;
    border-right: 2px solid $border-color;
    float: left;
    .btn-group{
        border-bottom: 1px solid #2773CB;
        height: 50px;
        width: 100%;
        font-size: 14px;
        .btn{
            width: 50%;
            height: 100%;
            border: 1px solid #2773CB;
            margin-left: 0px;
        }
    }
    .persons{
        li{
            line-height: 40px;
            margin-left:20px;
            display: block;
            label{
                color: #000;
            }
            .group-title{
                .open-ico{
                    margin-top: 8px!important;
                    background: url('../../images/drop-arrow.png') no-repeat 0px -16px!important;
                }
                i:nth-child(2){
                    width: 20px;
                    height: 20px;
                    margin-top: 2px;
                    opacity: 1;
                    float: right;
                    background: url('../../images/drop-arrow.png') no-repeat 0px 5px;
                }
            }
            .group-ico{
                float: left;
                width: 20px;
                height: 15px;
                margin: 12px 5px;
                background: url('../../images/people2.png') no-repeat;
            }
            .children{
                display: block;
                width: 100px;
            }
            li{
                @include text-ellipsis;
                .person-item{
                    display: inline;
                    width: 100%;
                }
                .person-ico{
                    float: left;
                    width: 20px;
                    height: 15px;
                    margin: 12px 5px;
                    background: url('../../images/people3.png') no-repeat;
                }
                &.active{
                    background-color: #4990E2;
                }
            }
        }
    }
}
.container-right{
    min-height: 780px;
    width: 100%;
    padding-left: 270px;
}
.right{
    width: 100%;
    background-color: #fff;
    border: 2px solid $border-color;
    padding: 20px;
    padding-bottom: 50px;
    #person-index{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        height: 720px;
        div{
            height: 300px;
            float: left;
            margin: 20px;
        }
        .person-row{
            width: 100%;
            min-width: 900px;
            display: table;
            div{
                display: table-cell;
                width: 45%;
                min-width: 400px;
                position: relative;
                .waiting-for-develop{
                    width: 100%;
                    height: 300px;
                    position: absolute;
                    background-color: #000;
                    opacity: 0.7;
                    img{
                        width: 300px;
                        height: 100px;
                        margin: 100px auto;
                        display: block;
                        transform: rotate(-20deg);
                    }
                }
                &.assets{
                    background-color: #4990E2;
                }
                &.behavior{
                    background-color: #7ED320;
                }
                &.society{
                    background-color: #FE6057;
                }
                &.analyze{
                    background-color: #F5A623;
                }
                p{
                    width: 200px;
                    display: block;
                    margin: 50px auto;
                    cursor: pointer;
                    span{
                        display: block;
                        width: 200px;
                        float: left;
                        text-align: center;
                        margin: 10px;
                        color: #fff;
                        a{
                            color: #fff;
                        }
                        img{
                            width: 100px;
                            height: 100px;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    .warning-setting{
        .form-group{
            .col-sm-8{
                position: relative;
                .form-control+span{
                    position: absolute;
                    top: 5px;
                    right: 25px;
                }
            }
        }
    }
}

.form-horizontal{
    label{
        cursor: default;
    }
    .title-label{
        color: #000;
    }
    .warning-label{
        color:red;
    }
    .btn{
        width: 80px;
        margin: 5px;
    }
    .unit{
        position: absolute;
        top: 5px;
        left: 275px;
    }
    .form-group{
        i{
            color: red;
        }
    }
}

#group-manage{
    .vue-dialog-header{
        border-bottom: 1px solid #EFEFEF;
    }
    .group-manage{
        table{
            width: 300px;
            margin: 0 auto;
            tr{
                width: 100%;
                th{
                    width: 150px;
                    border: none;
                    text-align: center;
                }
                td{
                    width: 150px;
                    border: none;
                    text-align: center;
                    label{
                        border: 1px solid $color-info;
                        cursor: default;
                        padding: 5px;
                        height: 35px;
                        width:150px;
                        text-align: center;
                        border-radius: 5px;
                    }
                    span{
                        cursor: pointer;
                        line-height: 30px;
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        border-radius: 5px;
                        &:hover{
                            background-color: $border-color;
                        }
                        &:active{
                            border: 1px solid #D9D9D9;
                        }
                    }
                    .plus{
                        background: url('../../images/Yes.png') no-repeat;
                        background-size: 30px 23px;
                    }
                    .pen{
                        background: url('../../images/pen.png') no-repeat;
                        background-size: 28px 28px;
                    }
                    .del{
                        background: url('../../images/no.png') no-repeat;
                        background-size: 28px 28px;
                    }
                    input{
                        width: 150px;
                        border-radius: 5px;
                    }
                    .hide{
                        display: none;
                    }
                }
            }
        }
    }
}

