html,body{
	background: rgb(51, 51, 51);
	width: 100%;
	height: 100%;
}

.container{
	max-width: 960px;
	/* height: 100%; */
	margin: 0 auto;
	padding: 20px;
}

.bg-olive{
	background: rgb(149, 158, 43);
}
.bg-red{
	background: rgb(167, 32, 40);
}
.bg-green{
	background: rgb(0, 160, 104);
}
.bg-yellow{
	background: rgb(211, 154, 28);
}
.bg-blue{
	background: rgb(0, 98, 154);
}
.bg-purper{
	background: rgb(149, 84, 125);
}
/* .btn-primary{
	background: rgba(17, 152, 140, 0.9);
	border: none;
}
.btn-primary:hover{
	background: rgba(17, 152, 140, 0.7);
	border: none;
}
.btn-primary:active{
	background: rgba(17, 152, 140, 0.8);
	border: none;
}
.btn-primary:focus{
	background: rgba(17, 152, 140, 0.8);
	border: none;
} */

#header {
	height: 40px;
	width: 100%;
	line-height: 40px;
	position: relative;
}
#header .userinfo{
	width: 200px;
	text-align: center;
	position: absolute;
	right: 100px;
}

.layui-form-select dl dd{
	color: #333;
}
.layui-layer-content{
	color: #333;
}